.conForeColor_Black { color: black; } .conBackColor_Black { background-color: black; }
.conForeColor_DarkBlue { color: #202080; } .conBackColor_DarkBlue { background-color: #202080; }
.conForeColor_DarkGreen { color: #208020; } .conBackColor_DarkGreen { background-color: #208020; }
.conForeColor_DarkCyan { color: #208060; } .conBackColor_DarkCyan { background-color: #208060; }
.conForeColor_DarkRed { color: #902520; } .conBackColor_DarkRed { background-color: #902520; }
.conForeColor_DarkMagenta { color: #802080; } .conBackColor_DarkMagenta { background-color: #802080; }
.conForeColor_DarkYellow { color: #809020; } .conBackColor_DarkYellow { background-color: #809020; }
.conForeColor_Gray { color: #a0a0a0; } .conBackColor_Gray { background-color: #a0a0a0; }
.conForeColor_DarkGray { color: #606060; } .conBackColor_DarkGray { background-color: #606060; }
.conForeColor_Blue { color: #5050ff; } .conBackColor_Blue { background-color: #5050ff; }
.conForeColor_Green { color: #60ff20; } .conBackColor_Green { background-color: #60ff20; }
.conForeColor_Cyan { color: #20ffff; } .conBackColor_Cyan { background-color: #20ffff; }
.conForeColor_Red { color: #ff5020; } .conBackColor_Red { background-color: #ff5020; }
.conForeColor_Magenta { color: #ff30d0; } .conBackColor_Magenta { background-color: #ff30d0; }
.conForeColor_Yellow { color: #ffff20; } .conBackColor_Yellow { background-color: #ffff20; }
.conForeColor_White { color: white; } .conBackColor_White { background-color: white; }