.conForeColor_Black { color: black; } .conBackColor_Black { background-color: black; }
.conForeColor_DarkBlue { color: darkblue; } .conBackColor_DarkBlue { background-color: darkblue; }
.conForeColor_DarkGreen { color: darkgreen; } .conBackColor_DarkGreen { background-color: darkgreen; }
.conForeColor_DarkCyan { color: darkcyan; } .conBackColor_DarkCyan { background-color: darkcyan; }
.conForeColor_DarkRed { color: darkred; } .conBackColor_DarkRed { background-color: darkred; }
.conForeColor_DarkMagenta { color: darkmagenta; } .conBackColor_DarkMagenta { background-color: darkmagenta; }
.conForeColor_DarkYellow { color: #808000; } .conBackColor_DarkYellow { background-color: #808000; }
.conForeColor_Gray { color: gray; } .conBackColor_Gray { background-color: gray; }
.conForeColor_DarkGray { color: darkgray; } .conBackColor_DarkGray { background-color: darkgray; }
.conForeColor_Blue { color: blue; } .conBackColor_Blue { background-color: blue; }
.conForeColor_Green { color: green; } .conBackColor_Green { background-color: green; }
.conForeColor_Cyan { color: cyan; } .conBackColor_Cyan { background-color: cyan; }
.conForeColor_Red { color: red; } .conBackColor_Red { background-color: red; }
.conForeColor_Magenta { color: magenta; } .conBackColor_Magenta { background-color: magenta; }
.conForeColor_Yellow { color: yellow; } .conBackColor_Yellow { background-color: yellow; }
.conForeColor_White { color: white; } .conBackColor_White { background-color: white; }