<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  

  <appSettings>

    <add key="SETTING1" value="VALUE1"/>
    <add key="SETTING2" value="AND$(SETTING1)"/>
    <add key="SETTING3" value="c:\$(@SETTING1)$(@SETTING1)\$(@SETTING1)"/>
    <add key="SETTING3-1" value="c:\$(SETTING1)$(SETTING1)$(SETTING1)"/>

    <add key="SETTING4" value="$(@SETTING4-1)"/>
    <add key="SETTING4-1" value="$(@SETTING4)"/>

    <add key="SETTING5" value="$(~NFX_TEST_VAR)"/>
    <add key="SETTING6" value="c:\$(@SETTING1)$(@~NFX_TEST_VAR)"/>
  </appSettings>

</configuration>